body {
  background-color: #464646;
  font-family: Verdana, Arial;
}

#measurer { 
	visibility: hidden; 
	white-space: nowrap; 
}

#nodeLabel {
	position: absolute;
	background-color: #fff;
	font-size: 0.7em;
	opacity: 1;
	border-radius:5px;
	pointer-events:none;
	opacity: 0.7;
	padding: 10px;

}

#bubblesvg {
	position: absolute;
}